<!DOCTYPE html>
<html>
<head>
    <title>Search results</title>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
</head>
<body class="search">
<div id="commands">
    <div id="search">
        <form action="/search"><input placeholder="Search" name="q" type="search"/></form>
    </div>
</div>
<div id="content">
    <h1 id="resultsTitle">Search results for <span id="textToSearch">${results?.textToSearch}</span></h1>

    <div id="results">
        <ul>
            <% results?.retrievedResults.each { %>
            <li><a href="${it.uri}">${it.uri}</a>

                <p>${it.highlights}</p></li>
            <% } %>
        </ul>
    </div>
</div>
</body>
</html>