html {
    background: whiteSmoke none repeat scroll 0 0;
    background-image: url('/noise.png');
}

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Droid Serif', Georgia, Times, serif;
    color: #5C5C5B;
}

ul, ol {
    padding-left: 40px;
    margin-bottom: 1em;
}

pre, code {
    font-family: 'Droid Sans Mono', monospace, sans-serif;
    font-size: 95%;
}

code {
    padding-left: 2px;
    padding-right: 2px;
    text-shadow: none;
}

blockquote, pre {
    background-color: #E1E3C2;
    padding: 0.5em;
    border-left: 6px solid #9AA48C;
    margin-bottom: 1em;
    text-shadow: none;
}

blockquote>p:last-child {
    margin-bottom: 0;
}

p {
    margin-bottom: 1em;
}

h1, h2 {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    margin-top: 2em;
    color: #9B4115;
    text-shadow: 1px 1px 1px white;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 0.3em;
}

hr {
    border-style: none;
    background-color: #9AA48C;
    height: 2px;
}


/* Display mode styles ---------------------------------------------------------------------------------------------- */
#container {
    position: relative;
    min-height: 100%;
}

#footer {
    position: absolute;
    width: 100%;
    height: 76px;
    text-align: center;
    padding-top: 26px;
    background-image: url('/footer-bg.jpg');
    background-repeat: repeat-x;
    bottom: 0;
}

#footer input {
    width: 45%;
}

#content {
    position: relative;
    width: auto;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 76px;
    padding-bottom: 178px;
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px white;
    z-index: -1;
}

#content>h1:first-child {
    margin-top: 0;
}

#content a {
    color: #9B4115;
}

.command:hover {
    background-color: #9B4115;
    border-color: #9B4115;
    text-shadow: none;
    color: white;
}

#edit {
    position: absolute;
    right: 76px;
    top: 51px;
}

.command, body.edit #commands button, body.edit #commands a {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-size: 11px;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px white;
    border: 1px solid #9AA48C;
    color: #9AA48C;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
}

/* Edit mode styles ------------------------------------------------------------------------------------------------- */
#save {
    position: absolute;
    left: 46px;
    top: 45px;
}

#save button {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 0 20px;
    color: gray;
}

#quickRefToogleLabel {
    float: right;
}

#discard {
    position: absolute;
    right: 76px;
    top: 51px;
}

#discard a:hover {
    background-color: #801b1b;
    color: white;
}

/* .edit #content {
    padding-left: 8px !important;
    padding-right: 13px !important
} */

.edit textarea {
    font-family: 'Droid Sans Mono', monospace, sans-serif;
    font-size: 10pt;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
    outline: none;
    border-radius: 5px;
}

#quickRef {
    margin-left: 38px;
    margin-right: 38px;
    font-size: 10px;
    color: #626262;
    line-height: 2em;
    padding-top: 25px;
    padding-bottom: 50px;
    overflow: auto;
    display: none;
}

#quickRef pre {
    line-height: 1.5em;
    background: transparent;
    border: 0 none;
}

#quickRef h1 {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

#quickRefContents {
    overflow: auto;
    margin-left: 2em;
    margin-top: 2em;
}

#quickRefContents dt {
    float: left;
    clear: both;
    width: 10em;
    font-variant: small-caps;
    text-transform: uppercase;
}

#quickRefContents dd {
    float: left;
    margin-bottom: 10px;
    width: 40em;
    line-height: 1.5em;
}

