html {
    background: #E0E0E0 none repeat scroll 0 0;
}

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

ul, ol {
    padding-left: 40px;
    margin-bottom: 1em;
}

pre, code {
    font-family: 'Droid Sans Mono', monospace, sans-serif;
    font-size: 95%;
}

pre {
    background-color: #f1f1f1;
    padding:  0.5em;
    border-left:  6px solid lightgray;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

body {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    color: #333;
    border-radius: 5px;
}

#content>h1:first-child {
    margin-top: 0;
}

h1, h2 {
    font-family: 'Droid Serif', Georgia, Times, serif;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

#content {
    width: auto;
    padding: 38px;
    background-color: white;
    margin: 0px 38px 25px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#content a {
    color: #7652ba;
}

#commands {
    padding-right: 38px;
    padding-left: 38px;
    height: 38px;
    overflow:  auto;
}

hr {
    border-style: none;
    background-color: lightgray;
    height: 3px;
}

#commands a {
    font-variant: small-caps;
    font-size: 10px;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid gray;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    text-decoration: none;
    color: gray;
}

#commands a:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
}

#edit, #discard {
    position: absolute;
    right: 45px;
    top: 40px;
}

#edit a {
    border-color:  lightgray;
    color: lightgray;
}

#save {
    position: absolute;
    left: 46px;
    top: 45px;
}

#save a {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#discard a:hover {
    background-color: #801b1b;
    color: white;
}

.edit #content {
    padding-left: 8px !important;
    padding-right: 13px !important
}

.edit textarea {
    font-family: 'Droid Sans Mono', monospace, sans-serif;
    font-size: 10pt;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    border:  1px solid lightgray;
    outline: none;
    border-radius: 5px;
}

#quickRef {
    margin-left: 38px;
    margin-right: 38px;
    font-size: 10px;
    color: #626262;
    line-height: 2em;
    padding-top: 25px;
    padding-bottom: 50px;
    overflow: auto;
}

#quickRef pre {
    line-height: 1.5em;
    background: transparent;
    border:  0px none;
}

#quickRef h1 {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

#quickRefContents {
    overflow: auto;
    margin-left: 2em;
    margin-top: 2em;
}

#quickRefContents dt {
    float: left;
    clear: both;
    width: 10em;
    font-variant: small-caps;
    text-transform: uppercase;
}

#quickRefContents dd {
    float: left;
    margin-bottom: 10px;
    width: 40em;
    line-height: 1.5em;
}

#search {
    width: 10%;
    float: right;
}

#search input {
    width: 100%;
    margin-top: 8px;
}